body{ 
	font-family: verdana;
}

body::-webkit-scrollbar { 
    display: none; 
}

#super_header nav a { 
	text-decoration: none; 	
	color: #333333;
}

#super_header nav a:visited { color: #333333; }
#super_header nav a:hover { color: white; }
#super_header nav a:active { color: #333333; }

#header_img {
	max-width: 100%;
}

#publicidad img {
	width: 100%;
	max-width: 100%;	
}

#default_footer {	
	background-color: #333333;	
	color: white;
}

#default_footer section{	    
	font-family: 'Lobster', cursive;
	font-size: 20px;	
}

#default_footer footer{	
	font-size: 0.8em; 
	font-weight: lighter;
}

a[class^="boton_rs_"]{ /**/
	width: 62px;
	height: 58px;
	background: URL('../images/redessociales.png');
	float: left;
	margin-bottom: 10px;
}

a.boton_rs_youtube{background-position: -248px 0px}
a.boton_rs_twitter{background-position: -310px 0px}
a.boton_rs_facebook{background-position: -372px 0px}

a.boton_rs_youtube:hover{background-position: -248px -58px}
a.boton_rs_twitter:hover{background-position: -310px -58px}
a.boton_rs_facebook:hover{background-position: -372px -58px}

.bg-darkorange {
	background-color: darkorange;
}

.bg-black {
	background-color: black;
}

.btn-outline-darkorange {
	color: darkorange;
	border-color: darkorange;
}

.btn-outline-darkorange:hover{
	background-color: darkorange;
	color: white;
	border-color: transparent;
}

.product-name {
	font-size: 1.25em;
}

.product-brand {
	font-size: 0.80em;
}
.product-image {
	max-width: 75%;
}

.text-mistake {	
	text-decoration: line-through;
}

.font-family-lobster {
	font-family: 'Lobster', cursive;
}
