body{ 
	font-family: verdana;
}

#header_img {
	max-width: 100%;
}

#publicidad img {
	max-width: 100%;	
}

#father footer {
	width: 100%;
	background-color: #333333;
	float: left;
	color: white;
}

#footer_main{
	width: 100%;
	float: left;
}

#footer_main aside{
	width: 25%;
    max-height: 100px;
    height: 100px;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;	
}

#footer_main section{
	width: 75%;
    max-height: 100px;
    height: 100px;
	float: right;
	display: flex;
	align-items: center;
	justify-content: center;	
	font-family: 'Lobster', cursive;
	font-size: 20px;
	text-align: center;
}

#father footer footer{
	width: 100%;
	height: 150px;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	color: white;	
	font-size: 0.8em; 
	font-weight: lighter;
}

a[class^="boton_rs_"]{ /**/
	width: 62px;
	height: 58px;
	background: URL('../images/redessociales.png');
	float: left;
	margin-bottom: 10px;
}

a.boton_rs_youtube{background-position: -248px 0px}
a.boton_rs_twitter{background-position: -310px 0px}
a.boton_rs_facebook{background-position: -372px 0px}

a.boton_rs_youtube:hover{background-position: -248px -58px}
a.boton_rs_twitter:hover{background-position: -310px -58px}
a.boton_rs_facebook:hover{background-position: -372px -58px}